.message
  .message__upper-info
    .message__upper-info__talker
      boss
    .message__upper-info__date
      2019/7/9/(tue)18:00
  .message__text
    メッセージ内容１
.message
  .message__upper-info
    .message__upper-info__talker
      taro
    .message__upper-info__date
      2019/7/12/(fri)20:00
  .message__text
    メッセージ内容２
